.videos-styling {
  width: 100%;
  height: 80vh;
  scroll-snap-align: start;
}
.video-container {
  align-self: center;
  position: relative;
  left: 35vw;

  height: 80vh;
  border: 5px solid #e74c3c;
  width: 20%;
  border-radius: 20px;
  background-color: white;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.video-container::-webkit-scrollbar {
  display: none;
}

.videos {
  position: relative;
}
.fa {
  position: absolute;
  bottom: 7%;
  left: 10%;
}
.fa h4 {
  color: white;
  font-size: large;
  /* margin-top: 40%; */
  margin-left: 10%;
}
.icon-styling {
  position: absolute;
  bottom: 2%;
  left: 10%;
}
.like {
  cursor: pointer;
  color: #e74c3c;
}
.unlike {
  cursor: pointer;
  color: blue;
}
.unlikess {
  cursor: pointer;
  color: rgb(0, 109, 96);
}
.chat-styling {
  position: absolute;
  cursor: pointer;
  color: blue;
  bottom: 2%;
  left: 20%;
}
.modal-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.modalvideo-container {
  width: 50%;
  height: 100%;
}
.comment-container {
  width: 50%;
  height: 100%;
}
.modal-video {
  height: 80vh;
  width: 100%;
}
.card1 {
  height: 70vh;
}
